<w-app-bar sticky>
  <w-container size="xl" class="w-row align-center ga-2 px-0">
    <a href="/" class="duvay-brand w-row align-center ga-2 mr-auto w-text-lg w-font-bold">
      <span class="logo-mark" aria-hidden="true">
        <svg class="logo-mark-svg" viewBox="0 0 48 48" focusable="false">
          <path class="logo-mark-duvet" d="m6 40 8-27q1-4 5 0l5 14 5-14q4-4 5 0l8 27q-9-4-18 0-9 4-18 0Z" />
          <path class="logo-mark-stitch" d="M10 33q14-4 28 0" />
        </svg>
      </span>
      <span>DuVay</span>
    </a>

    <button class="w-btn w-btn-icon" type="button" data-w-docs-menu-toggle aria-label="Open documentation navigation" aria-controls="docs-sidebar" aria-expanded="false" hidden>
      <w-svg-icon path="M3 5h18v2H3V5Zm0 6h18v2H3v-2Zm0 6h18v2H3v-2Z" size="1.25rem"></w-svg-icon>
    </button>

    <button class="w-btn w-btn-icon" type="button" data-w-search-open aria-label="Search documentation" aria-keyshortcuts="Meta+K Control+K">
      <w-svg-icon path="M9.5 3a6.5 6.5 0 1 0 3.98 11.64L19.85 21 21 19.85l-6.36-6.37A6.5 6.5 0 0 0 9.5 3Zm0 2a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9Z"></w-svg-icon>
    </button>

    <nav data-site-nav class="w-row align-center ga-1" aria-label="Primary navigation">
      <w-btn class="w-hide-mobile" href="/docs" variant="text" size="sm">Documentation</w-btn>
      <w-btn class="w-hide-mobile" href="/docs/install" variant="text" size="sm">Install</w-btn>
      <w-btn variant="text" size="sm" data-w-theme-toggle aria-label="Switch color theme">
        <span data-w-theme-icon></span>
        <span class="w-hide-mobile" data-w-theme-label>Light</span>
      </w-btn>
      <a class="w-btn w-btn-icon w-btn-sm" href="https://github.com/d31ma/duvay" target="_blank" rel="noopener" aria-label="DuVay on GitHub">
        <w-svg-icon path="M12 .5C5.7.5.5 5.7.5 12c0 5.1 3.3 9.4 7.9 10.9.6.1.8-.3.8-.6v-2c-3.2.7-3.9-1.5-3.9-1.5-.5-1.3-1.3-1.7-1.3-1.7-1.1-.7.1-.7.1-.7 1.2.1 1.8 1.2 1.8 1.2 1 1.8 2.8 1.3 3.5 1 .1-.8.4-1.3.7-1.6-2.6-.3-5.3-1.3-5.3-5.8 0-1.3.5-2.3 1.2-3.1-.1-.3-.5-1.5.1-3.1 0 0 1-.3 3.3 1.2a11.5 11.5 0 0 1 6 0C17.3 4.7 18.3 5 18.3 5c.6 1.6.2 2.8.1 3.1.8.8 1.2 1.8 1.2 3.1 0 4.5-2.7 5.5-5.3 5.8.4.4.8 1.1.8 2.2v3.3c0 .3.2.7.8.6 4.6-1.5 7.9-5.8 7.9-10.9C23.5 5.7 18.3.5 12 .5z"></w-svg-icon>
      </a>
    </nav>
  </w-container>
</w-app-bar>
